---
import { Image } from "astro:assets";
import { PostClass } from "@/utils/PostClass.ts";
import { resolveUrl } from "@/utils/routing";

const { entry, num, collectionPath } = Astro.props;

const postClass = PostClass({
  tags: entry.tags,
  isFeatured: entry.featured,
});

const isNote = entry.tags?.some(
  (tag: { name: string }) => tag.name === `#aside`
);
const isPhoto = entry.tags?.some(
  (tag: { name: string }) => tag.name === `#photos`
);
const isTwitter = entry.tags?.some(
  (tag: { name: string }) => tag.name === `#twitter`
);

// Update collectionPath based on the tag
const effectiveCollectionPath = isNote
  ? `notes/`
  : isPhoto
    ? `photos/`
    : isTwitter
      ? `twitter/`
      : collectionPath;
const effectiveSlug = isTwitter ? `` : entry.slug;

const url = resolveUrl({
  cmsUrl: `/`,
  collectionPath: effectiveCollectionPath,
  slug: effectiveSlug,
  url: entry.url,
});
---

<div class="lg:h-full flex flex-col justify-between">
  <article class={`entry entry--card-minimal relative ${postClass}`}>
    <div class="post-card-content">
      <header class="post-card-header">
        {
          entry.primary_tag && (
            <div class="sr-only">
              <a href={`/tag/${entry.primary_tag.slug}`}>
                {entry.primary_tag.name}
              </a>
            </div>
          )
        }
        <h2 class="entry-title">
          <a href={url} class="post-card-content-link">{entry.title}</a>
        </h2>
      </header>
    </div>
    <section class="entry-excerpt">
      <a href={url}>
        <p class="text-xl">{entry.excerpt}</p>
      </a>
    </section>
  </article>
</div>
<div class="squiggle-static s1 my-8"></div>
