---
import { Image } from "astro:assets";
import { PostClass } from "@/utils/PostClass.ts";
import { resolveUrl } from "@/utils/routing";

const { entry, num, collectionPath, className } = Astro.props;

const classes = className || ``;

const postClass = PostClass({
  tags: entry.tags,
  isFeatured: entry.featured,
});

const isNote = entry.tags?.some(
  (tag: { name: string }) => tag.name === `#aside`
);
const isPhoto = entry.tags?.some(
  (tag: { name: string }) => tag.name === `#photos`
);
const isTwitter = entry.tags?.some(
  (tag: { name: string }) => tag.name === `#twitter`
);
const isPortfolio = entry.tags?.some(
  (tag: { name: string }) => tag.name === `#portfolio`
);

// Update collectionPath based on the tag
const effectiveCollectionPath = isNote
  ? `notes/`
  : isPortfolio
    ? `portfolio/`
    : isPhoto
      ? `photos/`
      : isTwitter
        ? `twitter/`
        : collectionPath;
const effectiveSlug = isTwitter ? `` : entry.slug;

const url = resolveUrl({
  cmsUrl: `/`,
  collectionPath: effectiveCollectionPath,
  slug: effectiveSlug,
  url: entry.url,
});
---

<article class={`entry entry--card ${classes} ${postClass}`}>
  <div class="entry-inner">
    {
      entry.feature_image && (
        <div class="entry-image">
          <Image
            src={entry.feature_image}
            alt={entry.feature_image_alt || entry.title}
            loading="lazy"
            width="1200"
            height="630"
          />
        </div>
      )
    }
    <div class="entry-content">
      <header class="entry-header">
        {
          entry.primary_tag && (
            <div class="entry-primary-tag">
              <a href={`/tag/${entry.primary_tag.slug}`}>
                {entry.primary_tag.name}
              </a>
            </div>
          )
        }
        <h2 class="entry-title"><a href={url}>{entry.title}</a></h2>
      </header>
      <section class="entry-excerpt">
        <a href={url}>{entry.excerpt}</a>
      </section>
    </div>

    <a class="entry-link-overlay" href={url}>
      <span class="sr-only">Continue reading {entry.title}</span>
    </a>
  </div>
</article>
