---
import { PostClass } from "@/utils/PostClass.ts";
import { resolveUrl } from "@/utils/routing";

const { post, num, collectionPath } = Astro.props;

const postClass = PostClass({
  tags: post.tags,
  isFeatured: post.featured,
});

const isNote = post.tags?.some(
  (tag: { name: string }) => tag.name === `#aside`
);
const isPhoto = post.tags?.some(
  (tag: { name: string }) => tag.name === `#photos`
);
const isTwitter = post.tags?.some(
  (tag: { name: string }) => tag.name === `#twitter`
);

// Update collectionPath based on the tag
const effectiveCollectionPath = isNote
  ? `notes/`
  : isPhoto
    ? `photos/`
    : isTwitter
      ? `twitter/`
      : collectionPath;
const effectiveSlug = isTwitter ? `` : post.slug;

const url = resolveUrl({
  cmsUrl: `/`,
  collectionPath: effectiveCollectionPath,
  slug: effectiveSlug,
  url: post.url,
});
---

<aside class={`entry entry--aside ${postClass}`}>
  {
    post.primary_tag && (
      <div class="entry-primary-tag">
        <a href={`/tag/${post.primary_tag.slug}`}>{post.primary_tag.name}</a>
      </div>
    )
  }
  <h2 class="entry-title"><a href={url}>{post.title}</a></h2>
</aside>
