---
import EntryCardMinimal from "./EntryCardMinimal.astro";

const { title, posts, className, collectionPath } = Astro.props;
---

<section class={`${className} py-16`}>
  {title && <h2 class="h1 text-center uppercase">{title}</h2>}

  <div class="max-w-5xl mx-auto -translate-y-4 lg:-translate-y-6">
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-14">
      {
        posts.map((post: any, i: any) => (
          <div class="col-span-1">
            <div class="lg:h-full flex flex-col justify-between">
              <EntryCardMinimal
                entry={post}
                num={i}
                collectionPath={collectionPath}
              />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
