---
import { Image } from "astro:assets";
import { PostClass } from "@/utils/PostClass";
import { resolveUrl } from "@/utils/routing";

const { entry } = Astro.props;
const tags =
  (entry &&
    entry.tags?.map((tag: { id: any; name: any; slug: any }) => ({
      id: tag.id,
      name: tag.name,
      slug: tag.slug,
    }))) ||
  undefined;

const postClass = PostClass({ tags });
const url = resolveUrl({
  cmsUrl: `/`,
  collectionPath: `writing/`,
  slug: entry.slug,
  url: entry.url,
});
---

<article class={`entry entry--featured ${postClass}`}>
  <div class="entry-inner">
    {
      entry.feature_image && (
        <div class="entry-image">
          <Image
            src={entry.feature_image}
            alt={entry.feature_image_alt || entry.title}
            loading="lazy"
            width="1200"
            height="630"
          />
        </div>
      )
    }
    <div class="entry-content">
      <header class="entry-header">
        {
          entry.primary_tag && (
            <div class="entry-primary-tag">
              <a href={`/tag/${entry.primary_tag.slug}`}>
                {entry.primary_tag.name}
              </a>
            </div>
          )
        }
        <h2 class="entry-title">{entry.title}</h2>
      </header>
      <section class="entry-excerpt">
        <p class="mb-8">{entry.excerpt}</p>
      </section>
      <a href={url} class="btn"> Read More </a>
    </div>

    <a class="entry-link-overlay" href={url}>
      <span class="sr-only">Continue reading {entry.title}</span>
    </a>
  </div>
</article>
