---
import { Image } from "astro:assets";

const { title, excerpt, primary_tag, feature_image } = Astro.props;
---

<div class="entry-header entry-header--featured">
  <heder>
    <div class="entry-full-content">
      {
        primary_tag && (
          <div class="entry-primary-tag">
            <a href={`/tag/${primary_tag.slug}`}>{primary_tag.name}</a>
          </div>
        )
      }
      <h1 class="h3 mb-8">{title}</h1>
      {
        excerpt && (
          <p class="entry-custom-excerpt text-xl mx-auto max-w-xl">{excerpt}</p>
        )
      }
    </div>
  </heder>

  {
    feature_image && (
      <div class="entry-full-image">
        <Image
          loading="eager"
          decoding="async"
          src={feature_image}
          alt={title}
          width={1800}
          height={1200}
        />
      </div>
    )
  }
</div>
