---
import { getPage, getAllPhotoPosts } from "@/utils/ghost";
import { BodyClass } from "@/utils/BodyClass";
import PageHeader from "@/components/pages/PageHeader.astro";
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import { renderHtmlFromAst } from "@/utils/renderHtmlAst";
import PhotoPosts from "@/components/sections/PhotoPosts.astro";

const post = await getPage(`photos`);

const tags =
  (post &&
    post.tags?.map((tag: { id: any; name: any; slug: any }) => ({
      id: tag.id,
      name: tag.name,
      slug: tag.slug,
    }))) ||
  undefined;

const html = await renderHtmlFromAst(post?.html || "");
const bodyClass = BodyClass({ isPost: false, tags });
---

<Layout
  bodyClass={`page-photos ${bodyClass}`}
  isHome={true}
  title={post?.og_title || post?.title || "Photosets"}
  description={post?.og_description || post?.meta_description || post?.excerpt}
  ogImage=""
  twitterImage=""
>
  <article>
    <div class="container  my-11 relative">
      <div class="max-w-4xl mx-auto relative">
        <PageHeader
          title={post?.title}
          excerpt={post?.excerpt}
          className="h2"
        />
      </div>
    </div>
    <section
      class="post-full-content page-content load-external-scripts gh-content text-lg gh-canvas"
      set:html={html}
    />
  </article>

  <PhotoPosts />
</Layout>
