---
import { getFeaturedPosts, getPage } from "@/utils/ghost";
import { BodyClass } from "@/utils/BodyClass";
import { PostClass } from "@/utils/PostClass";

import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import PageHeader from "@/components/pages/PageHeader.astro";
import EntryFeatured from "@/components/entries/EntryFeatured.astro";
import Newsletter from "@/components/sections/Newsletter.astro";
import PopularPosts from "@/components/sections/PopularPosts.astro";
import Consulting from "@/components/sections/Consulting.astro";
import RecentLinkedPosts from "@/components/sections/RecentLinkedPosts.astro";
import { renderHtmlFromAst } from "@/utils/renderHtmlAst";
import SocialLinks from "@/components/common/SocialLinks.astro";

const post = await getPage(`links`);
const featuredPosts = await getFeaturedPosts();
const featuredPostOne = featuredPosts.posts[0];

const tags =
  (post &&
    post.tags?.map((tag: { id: any; name: any; slug: any }) => ({
      id: tag.id,
      name: tag.name,
      slug: tag.slug,
    }))) ||
  undefined;

const html = await renderHtmlFromAst(post?.html || "");
const bodyClass = BodyClass({ isPost: false, tags });

const postClass = PostClass({
  tags: post?.tags?.map(({ id, name, slug }) => ({ id, name, slug })),
  isFeatured: post?.featured,
  isImage: !!post?.feature_image,
});
---

<Layout
  bodyClass={`page-template page-links ${bodyClass}`}
  isHome={true}
  title={post?.og_title || post?.title || "Underlost, by Tyler Rilling"}
  description={post?.og_description || post?.meta_description || post?.excerpt}
  ogImage=""
  twitterImage=""
  image="/images/background_default.jpg"
>
  <div class="container-wrapper">
    <div class={`container-inner ${postClass}`}>
      <div class="border-color container-border">
        {
          post?.feature_image && (
            <figure class="featured-image-blob">
              <Image
                src={post.feature_image}
                alt={post.title}
                height={1200}
                width={1800}
                loading={"eager"}
              />
            </figure>
          )
        }
        <article class="container-content gh-canvas">
          <PageHeader title={post?.title} className="h1 text-outline" />
          <section
            class="post-full-content page-content load-external-scripts gh-content"
            set:html={html}
          />
          <SocialLinks />
        </article>
      </div>
    </div>

    <PopularPosts className="tag-color-scheme-b" />

    <Consulting />

    <Newsletter />
  </div>
</Layout>
