---
import { getPage } from '@/utils/ghost'
import { BodyClass } from '@/utils/BodyClass'
import { Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'
import { renderHtmlFromAst } from '@/utils/renderHtmlAst'
import PageHeader from '@/components/pages/PageHeader.astro'
import TipForm from '@/components/react/TipForm.tsx'

const page = await getPage(`support`)

const tags =
  (page &&
    page.tags?.map((tag: { id: any; name: any; slug: any }) => ({
      id: tag.id,
      name: tag.name,
      slug: tag.slug,
    }))) ||
  undefined

const html = await renderHtmlFromAst(page?.html || '')
const bodyClass = BodyClass({ isPost: false, tags })
---

<Layout
  bodyClass={`page-template page-support ${bodyClass}`}
  isHome={true}
  title={page?.og_title || page?.title || 'Support'}
  description={page?.og_description || page?.meta_description || page?.excerpt}
  ogImage=""
  twitterImage=""
  url="https://underlost.net/support/"
>
  <article>
    <div class="container lg:pt-24 mb-11 my-11 relative lg:min-h-[300px]">
      <div class="max-w-3xl mx-auto relative text-center">
        {page?.title && <PageHeader title={page?.title} excerpt={page?.excerpt} className="h2" />}
      </div>
    </div>

    <div class="max-w-lg mx-auto my-16 squiggle s1 px-8"></div>
    <div class="inner gh-canvas lg:py-11">
      <section class="page-content load-external-scripts gh-content text-lg mb-11" set:html={html} />

      <div>
        <TipForm client:only="react" />
      </div>
    </div>
    <div class="max-w-lg mx-auto my-16! squiggle s1 px-8"></div>
  </article>
</Layout>
