---
interface NavigationItem {
  url: string;
  label: string;
  target?: string;
}

const { navigation, navClass } = Astro.props as {
  navigation: NavigationItem[];
  navClass: string;
};
---

<nav class={`site-nav ${navClass}`}>
  <ul class="site-nav-menu">
    {
      navigation.map((item) => {
        const isInternalLink = item.url.startsWith("/");
        const isExternalLink = item.url.startsWith("http");
        const itemClass = `nav-${item.label.toLowerCase()} nav-item`;

        return (
          <li class={`menu-item ${itemClass}`}>
            <a
              href={item.url}
              class="menu-item-link"
              target={item.target}
              rel={item.target === "_blank" ? "noopener noreferrer" : ""}
            >
              {item.label}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
