---
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import PageHeader from "@/components/pages/PageHeader.astro";
import { renderHtmlFromAst } from "@/utils/renderHtmlAst";

const { post, bodyClass } = Astro.props;

const isMembersOnly = (post.tags ?? []).some(
  (tag: { name: string }) => tag.name === "#members"
);
const html = await renderHtmlFromAst(post.html, isMembersOnly);
---

<Layout
  isHome={false}
  bodyClass={bodyClass}
  title={post.og_title || post.title}
  description={post.og_description || post.meta_description || post.excerpt}
  ogImage={post?.og_image || post?.feature_image}
  twitterImage={post?.twitter_image || post?.feature_image}
>
  <article class="layout-fullbleed">
    <div class="container lg:pt-24 mb-11 my-11 relative lg:min-h-[300px]">
      {
        post.feature_image && (
          <figure class="page-full-image">
            <Image
              src={post.feature_image}
              alt={post.title}
              height={800}
              width={800}
            />
          </figure>
        )
      }
      <div class="max-w-5xl mx-auto relative text-center">
        <PageHeader title={post.title} className="h1" excerpt={post?.excerpt} />
      </div>
    </div>

    <div class="inner gh-canvas lg:py-11">
      <div class="max-w-lg mx-auto my-16 squiggle s1 px-8 w-full"></div>
      <section
        class="page-content load-external-scripts gh-content text-lg"
        set:html={html}
      />
      <div class="max-w-lg mx-auto my-16! squiggle s1 px-8 w-full"></div>
    </div>
  </article>
</Layout>
