---
import { Image } from "astro:assets";
import { getPage, getFeaturedPosts } from "@/utils/ghost";
import { BodyClass } from "@/utils/BodyClass";
import PageHeader from "@/components/pages/PageHeader.astro";
import Layout from "@/layouts/Layout.astro";
import RecentPosts from "@/components/sections/RecentPosts.astro";
import FeaturedTags from "@/components/sections/FeaturedTags.astro";
import RecentLinkedPosts from "@/components/sections/RecentLinkedPosts.astro";
import Newsletter from "@/components/sections/Newsletter.astro";

const page = (await getPage(`writing`)) || ({} as any);
const featuredPosts = await getFeaturedPosts();
const featuredPostOne = featuredPosts.posts[0];

const tags =
  (page &&
    page.tags?.map((tag: { id: any; name: any; slug: any }) => ({
      id: tag.id,
      name: tag.name,
      slug: tag.slug,
    }))) ||
  undefined;

const bodyClass = BodyClass({ page: page, tags });
---

<Layout
  bodyClass={`page-template page-writing ${bodyClass}`}
  isHome={false}
  title={page.og_title || page?.title || "Current Projects"}
  description={page.og_description || page.meta_description || page.excerpt}
  ogImage={page?.og_image || page?.feature_image}
  twitterImage={page?.twitter_image || page?.feature_image}
  image="/images/background_default.jpg"
>
  <div class="container-wrapper">
    <div class="tag-color-scheme-o container-inner">
      <div class="border-color container-border">
        {
          featuredPostOne.feature_image && (
            <figure class="featured-image-blob">
              <Image
                src={featuredPostOne.feature_image}
                alt={featuredPostOne.title}
                width={1200}
                height={900}
                loading={"eager"}
              />
            </figure>
          )
        }
        <article class="container-content">
          <header class="page-full-header text-left mb-8">
            <h1 class="h1">
              <a href={`/writing/${featuredPostOne.slug}/`}>{featuredPostOne.title}</a>
            </h1>
            {
              featuredPostOne.excerpt && (
                <p class="mt-5 max-w-4xl text-xl mx-auto text-balance">
                  {featuredPostOne.excerpt}
                </p>
              )
            }
          </header>
        </article>
      </div>

      <div class="relative z-10 max-w-4xl mx-auto max-md:px-8 pt-16 lg:pt-32">
        <FeaturedTags />
      </div>
    </div>

    <RecentPosts className="tag-color-scheme-a" />

    <RecentLinkedPosts />

    <Newsletter />
  </div>
</Layout>
