---
import { Image } from "astro:assets";
import { getPage } from "@/utils/ghost";
import { BodyClass } from "@/utils/BodyClass";
import PageHeader from "@/components/pages/PageHeader.astro";
import { renderHtmlFromAst } from "@/utils/renderHtmlAst";
import EntryTwoColumn from "@/components/sections/Portfolio.astro";

import Layout from "@/layouts/Layout.astro";

const page = (await getPage(`portfolio`)) || ({} as any);

const tags =
  (page &&
    page.tags?.map((tag: { id: any; name: any; slug: any }) => ({
      id: tag.id,
      name: tag.name,
      slug: tag.slug,
    }))) ||
  undefined;

const bodyClass = BodyClass({ page: page, tags });
const html = await renderHtmlFromAst(page.html);
---

<Layout
  bodyClass={`page-template page-portfolio tag-color-scheme-g ${bodyClass}`}
  isHome={true}
  title={page.og_title || page?.title || "Current Portfolio"}
  description={page.og_description || page.meta_description || page.excerpt}
  ogImage={page?.og_image || page?.feature_image}
  twitterImage={page?.twitter_image || page?.feature_image}
  image="/images/background_default.jpg"
>
  <div class="container-wrapper">
    <section class="tag-color-scheme-g container-inner">
      <div class="border-color container-border">
        {
          page.feature_image && (
            <figure class="featured-image-blob">
              <Image
                src={page.feature_image}
                alt={page.title}
                width={1200}
                height={900}
                loading={"eager"}
              />
            </figure>
          )
        }
        <div class="relative z-10 max-w-5xl mx-auto my-11">
          <article class="container-content">
            <PageHeader
              className="h1 uppercase"
              title={page.title}
              excerpt={page?.excerpt}
            />
          </article>
          <EntryTwoColumn />
        </div>
      </div>
    </section>
  </div>
</Layout>
